// Font-Awesome
@import '../../../node_modules/font-awesome/scss/font-awesome';

// Material color
@import "../../../node_modules/material-colors/dist/colors.scss";

// toastr
@import "../../../node_modules/toastr/toastr";

// Load bootstrap(v4)
// Overriding bootstrap(v4) variables
//
// Load bootstrap variables
@import "../../../node_modules/bootstrap/scss/_variables";

// Load THSarabunNew font
@import "../fonts/thsarabunnew";

$enable-flex: true;
$font-family-base: $font-family-sans-serif, "THSarabunNew";
$headings-margin-bottom: 1.2rem;
$line-height-base: 1.6;

// Load bootstrap(v4) style
@import "../../../node_modules/bootstrap/scss/bootstrap";

// Overriding classes
.navbar-nav .nav-item {
  padding-top: 1px;
}

// END Overriding bootstrap(v4) variables
