@import "./bootstrap/mixins";

.navbar-friendtrip {
  .navbar-brand {
    color: $t-navbar-link-active-color;

    @include hover-focus {
      color: $t-navbar-link-active-color;
    }
  }

  .navbar-nav {
    .nav-link {
      color: $t-navbar-link-color;

      @include hover-focus {
        color: $t-navbar-link-hover-color;
      }
    }

    .open > .nav-link,
    .active > .nav-link,
    .nav-link.open,
    .nav-link.active {
      @include plain-hover-focus {
        color: $t-navbar-link-active-color;
      }
    }
  }

  .navbar-divider {
    background-color: rgba(255,255,255,.075);
  }
}