//
// Navbar progress bar
//

@keyframes animate-progress-navbar {
  0% {
    background-position: 400% 0;
  }
  50% {
    background-position: 150% 0;
  }
  100% {
    background-position: 0% 0;
  }
}

.progress-navbar  {
  position: fixed;
  top: 0;
  width: 100%;
  border: 0;
  height: 5px;
  background: linear-gradient(to right,
    rgba($progress-bar-page-load-bg, 0) 0%,
    rgba($progress-bar-page-load-bg, 0) 29.99%,
    rgba($progress-bar-page-load-bg, 0) 30.00%,
    rgba($progress-bar-page-load-bg, 1) 60.00%,
    rgba($progress-bar-page-load-bg, 1) 100%);
  background-size: 200% 100%;
  animation: animate-progress-navbar 4.75s infinite linear;
  z-index: 9999;
}
