// Colors
$color-friendtrip-primary: #90FFDC;
$color-friendtrip-secondary: #8DE4FF;
$color-friendtrip-light: #F2F2F2;
$color-friendtrip-dark: #0C0B0B;

$color-friendtrip-navbar: #ff0c4e;

$navbar-friendtrip-color: rgba(255,255,255,.7) !default;
$navbar-friendtrip-hover-color: rgba(255,255,255,.85) !default;
$navbar-friendtrip-active-color: rgba(255,255,255,1) !default;
$navbar-friendtrip-disabled-color: rgba(255,255,255,.55) !default;

$progress-bar-page-load-bg: #a80632;

// Footer
$footer-height: 60px;
